/* style.css */
body{
  background: ;
  color: blue ;
  font-size: 25px;
  font-family: cursive;
}
h1{
  font-family: notosansjp;
  color: pink ;
  font-weight: lighter;
  font-size: 10px;
}
h2 {
  font-family: notosansjp;
  color: pink;
  font-weight: lighter;
  font-size: 8px;
}
a {
  color: red;
}
a:hover {
  text-decoration: none;
  color: purple;
}
p {
  font-family: notosansjp

}

.blue-title {
  color: purple;
  font-size: 30px;
  font-family: notosansjp;

}


#baseline p{ 
color: grey;
font-size: 50px;
 }

}